@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-caixa{
    margin: 0 6rem;
}

.container-titulo{
    font-size: 28px;
    font-weight: 700;
}

.container-imagem{
    margin: 1em 0 2em 0;
}

.container-botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    
}

.botao-secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container-aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario-imagem{
    width:  80%;
}

.secundario{
    align-items: center;
    margin: 0 13em;
}

.descricao-titulo{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0.1em;
}

.descricao-paragrafo{
    color: var(--cinza-secundario);
}

.secundario-botao{
    display: inline-block;
    margin-top: 1em;
}

.container-descricao{
    padding: 2em;
}